<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>



<%= link_to "Add a product", new_product_path %>

<!-- renders a helpful message with numbers of displayed vs. total entries -->
<h2><%= page_entries_info @products %></h2>

<!-- cut out our loop and refactor into the partial "app/views/products/_product.html.erb" -->
<div id="products">
  <%= render @products %>
</div>

<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->
<%= paginate @products %>