<h1>Products (<%= @products.length %>)</h1>

<p><%= link_to "New Product", new_product_path %>
<% @products.each do |product| %></P>

<p><%= link_to product.name, "/products/#{product.id}" %></p>
<br>
<p><%= product.description %></p>
<br>
$<%= product.formatted_price %>
</p>

<% end %>