<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>


<div id="products">
	<h2>Products (<%= @products.length %>)</h2>
  	<%= render @products %>
</div>

<div><%= link_to "New Product", new_product_path %></div>


